#background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-bottom: 5px solid #f0f0f0;
  z-index: 0; }
  #background .content {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 2000px;
    height: 400px;
    margin-left: -1000px; }
  #background img {
    z-index: 0; }
  #background iframe {
    z-index: 1; }
  #background video {
    z-index: 1; }

#main {
  position: absolute;
  left: 0px;
  top: 190px;
  width: 100%; }

#head {
  font-family: "Lora";
  margin-left: 20px; }
  #head h1 {
    display: inline-block;
    font-size: 3em;
    line-height: 1em;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    margin: 0px; }
    #head h1 a {
      color: black; }
      #head h1 a:hover {
        text-decoration: none; }
    #head h1.sub {
      font-size: 1.5em; }
      #head h1.sub a {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px; }
        #head h1.sub a:hover {
          text-decoration: underline; }

#content {
  margin-top: 10px;
  padding-top: 20px;
  background-color: white; }
  #content .col-sm-8, #content .col-sm {
    padding-right: 2ex; }
  #content .aim {
    display: inline-block;
    width: 39ex;
    padding-left: 3ex;
    margin-bottom: 3ex;
    vertical-align: top;
    text-align: justify; }
  #content p {
    text-align: justify; }
  #content .col-4 p {
    text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora"; }

h2::before {
  content: ">";
  color: #c8c8c8;
  font-weight: bold;
  margin-right: 10px; }

p {
  font-family: "Open Sans"; }
  p.top {
    padding-top: 10px; }

.scenario {
  clear: left; }
  .scenario img {
    float: left;
    width: 100px;
    margin-right: 5px; }

#bottom {
  padding-top: 20px;
  padding-bottom: 5px;
  background-color: #fafafa; }
  #bottom .bottom-links span {
    margin-right: 20px; }

#matsim {
  margin-top: 5ex;
  margin-bottom: 5ex;
  text-align: center; }
  #matsim div {
    font-size: 0.8em;
    text-align: left;
    color: white;
    background-color: #3498db;
    padding: 1ex;
    display: inline-block;
    line-height: 1em;
    padding-bottom: 0.5ex;
    font-weight: bold; }
    #matsim div span {
      line-height: 1em;
      font-size: 4em;
      color: white;
      display: block;
      font-weight: bold; }
