$heading-font: "Lora";
$general-font: "Open Sans";

#background {
    position: absolute;
    left: 0px; top: 0px;
    width: 100%;
    height: 350px;
    overflow: hidden;
    border-bottom: 5px solid rgb(240, 240, 240);
    z-index: 0;

    .content {
        position: absolute;
        top: 0px; left: 50%;
        width: 2000px; height: 400px;
        margin-left: -1000px;
    }

    img {
        z-index: 0;
    }

    iframe {
        z-index: 1;
    }

    video {
        z-index: 1;
    }
}

#main {
    position: absolute;
    left: 0px; top: 190px; width: 100%;
}

#head {
    font-family: $heading-font;
    margin-left: 20px;

    h1 {
        display: inline-block;
        font-size: 3em;
        line-height: 1em;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        margin: 0px;

        &.sub {
            font-size: 2em;
        }

        a {
            color: black;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

#content {
    margin-top: 10px;
    padding-top: 20px;
    background-color: white;

    .col-sm-8, .col-sm {
        padding-right: 2ex;
    }

    .aim {
        display: inline-block;
        width: 39ex;
        padding-left: 3ex;
        margin-bottom: 3ex;
        vertical-align: top;
        text-align: justify;;
    }

    p {
        text-align: justify;
    }

    .col-4 p {
        text-align: left;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

h2::before {
    content: ">";
    color: rgb(200, 200, 200);
    font-weight: bold;
    margin-right: 10px;
}

p {
    font-family: $general-font;

    &.top {
        padding-top: 10px;
    }
}

.scenario {
    clear: left;

    img {
        float: left;
        width: 100px;
        margin-right: 5px;
    }
}

#bottom {
    padding-top: 20px; padding-bottom: 5px;
    background-color: rgb(250, 250, 250);

    .bottom-links span {
        margin-right: 20px;
    }
}

#matsim {
    margin-top: 5ex;
    margin-bottom: 5ex;
    text-align: center;

    div {
        font-size: 0.8em;
        text-align: left;
        color: white;
        background-color: #3498db;
        padding: 1ex;
        display: inline-block;
        line-height: 1em;
        padding-bottom: 0.5ex;font-weight: bold;

        span {
            line-height: 1em;
            font-size: 4em;
            color: white;
            display: block;
            font-weight: bold;
        }
    }
}
