{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col">
        <h2>Impressum</h2>
        <p class="top">
            This website is run by <b>Sebastian Hörl</b> and <b>MilosBalac</b>
            at the <a href="https://ivt.baug.ethz.ch">Institute for Transport Planning and Systems</a> of
            <a href="https://ethz.ch">ETH Zurich</a>.
        </p>
        <p>
            <b>Sebastian Hörl</b><br />
            Stefano-Franscini-Platz 5<br />
            CH-8093 Zürich<br />
            Switzerland<br />
            sebastian.hoerl [at] ivt.baug.ethz.ch
        </p>
        <p>
            <b>Milos Balac</b><br />
            Stefano-Franscini-Platz 5<br />
            CH-8093 Zürich<br />
            Switzerland<br />
            milos.balac [at] ivt.baug.ethz.ch
        </p>
    </div><div class="col">
        <h2>Terms of service</h2>
        <p>The information provided on this website is provided on an "as-is" basis without
        warranties of any kind either express or implied. <em>eqasim.org</em> and its authors
        make no warranties or representations of any kind concerning any information
        contained in this website. This website is provided only as general information.
        The authors expressly disclaim all liability with respect to actions taken or not
        taken based upon the information contained herein or with respect to any errors or
        omissions in such information.</p>

        <h2>Privacy policy</h2>
        <p>The website does not store any user-specific data. As a hosting backend,
        <a href="pages.github.com">Github Pages</a> is used, where non-user-specific
        server logs may be kept on the behalf of Github.
    </div>
</div>
{% endblock %}
