{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-sm-8">
        <h2>The mission</h2>
        <div class="aim">
            We provide an <b>open-source</b> and extensible <b>platform</b>
            to test novel transport planning methods in an integrated
            <b>pipeline</b>.
        </div>
        <div class="aim">
            We'd like to bridge the worlds of macroscopic models,
            agent-based simulation and discrete choice modelling.
        </div>
        <div class="aim">
            We offer to research complete, policy-ready
            agent-based transport <b>scenarios</b> based on well-tested
            tools and algorithms.
        </div>
        <div class="aim">
            <a href="#">Read more</a> about the idea behind <i>eqasim</i>!
        </div>

        <h2>The model</h2>
        <p>
            The base configuration of <i>eqasim</i> features a pipeline
            that applies common algorithms to synthesize rich and detailed agent-based
            transport simulation scenarios.
        </p>
        <p>
            <img src="/assets/eqasim_h_v1.png" style="width: 100%" alt="" />
        </p>
        <p>
            The scenarios are simulated using the
            agent- and activity-based transport simulation framework <a href="https://www.matsim.org">MATSim</a>
            in combination with <i>eqasim</i>'s novel <a href="https://github.com/matsim-eth/discrete-mode-choice">Discrete Mode Choice extension</a>.
        </p>
        <p>
            All parts in that chain are replacable and adjustable which allows
            to test novel, specific models in an integrated context.
        </p>
    </div>
    <div class="col-sm-4">
        <h2>Scenarios</h2>
        <p>
            A number of simulation scenarios are available for
            <i>eqasim</i>:
        </p>
        <div class="scenario">
            <img src="/assets/paris.png" alt="" />
            <p>
                <b>Paris</b> is the most detailed and well-calibrated
                of the scenarios. It allows for practice-ready policy
                studies and analyses.
            </p>
        </div>
        <div class="scenario">
            <img src="/assets/zurich.png" style="margin-bottom: 20px;" alt="" />
            <p>
                <b>Zurich</b> is the smallest of the available
                use cases, but the one that has been around longest.
            </p>
        </div>
        <div class="scenario">
            <img src="/assets/switzerland.png" alt="" />
            <p>
                <b>Switzerland</b> is mainly used at the Institute for Transport
                Planning at ETH Zurich.
            </p>
        </div>
        <div id="matsim"><div>&nbsp;powered by <span>MATSim</span></div></div>
    </div>
</div>
{% endblock %}
