{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-sm-8">
        <h2>The mission</h2>
        <div class="aim">
            We provide an <b>open-source</b> and extensible <b>platform</b>
            to test novel transport planning methods in an integrated
            <b>pipeline</b>.
        </div>
        <div class="aim">
            We'd like to bridge the worlds of macroscopic models,
            agent-based simulation and discrete choice modelling.
        </div>
        <div class="aim">
            We offer to research complete, policy-ready
            agent-based transport <b>scenarios</b> based on well-tested
            tools and algorithms.
        </div>
        <div class="aim">
            <a href="/pages/model">Read more</a> about the model behind <i>eqasim</i>!
        </div>
        <div id="matsim"><div>&nbsp;powered by <span>MATSim</span></div></div>
    </div>
    <div class="col-sm-4">
        <h2>Scenarios</h2>
        <p>
            A number of simulation scenarios are available for
            <i>eqasim</i>:
        </p>
        <div class="scenario">
            <img src="/assets/paris.png" alt="" />
            <p>
                <b>Paris</b> is the most detailed and well-calibrated
                of the scenarios. It allows for practice-ready policy
                studies and analyses.
            </p>
        </div>
        <div class="scenario">
            <img src="/assets/zurich.png" style="margin-bottom: 20px;" alt="" />
            <p>
                <b>Zurich</b> is the smallest of the available
                use cases, but the one that has been around longest.
            </p>
        </div>
        <div class="scenario">
            <img src="/assets/switzerland.png" alt="" />
            <p>
                <b>Switzerland</b> is mainly used at the Institute for Transport
                Planning at ETH Zurich.
            </p>
        </div>
    </div>
</div>
{% endblock %}
