{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col">
        <h2>The mission</h2>
        <p>  	 
            We aim to provide a packaged framework that uses estimated
            discrete-choice models to enable transport planners to
            predict detailed outcomes of different policies.
        </p>
    </div>
    <div class="col">
        <h2>The model</h2>
        <p>
            The <i>eqasim</i> is a packaged framework 
        	that combines MATSim and discrete-choice models in an easy
        	to use environment.
        </p>
    </div>
    <div class="col">
        <h2>Scenarios</h2>
        <p>
            A number of simulation scenarios are available for
            <i>eqasim</i>:
        </p>
        <div class="scenario">
            <img src="/assets/paris.png" alt="" />
            <p>
                <b>Paris</b> is the most detailed and well-calibrated
                of the scenarios. It allows for practice-ready policy
                studies and analyses.
            </p>
        </div>
        <div class="scenario">
            <img src="/assets/zurich.png" style="margin-bottom: 20px;" alt="" />
            <p>
                <b>Zurich</b> is the smallest of the available
                use cases, but the one that has been around longest.
            </p>
        </div>
        <div class="scenario">
            <img src="/assets/switzerland.png" alt="" />
            <p>
                <b>Switzerland</b> is mainly used at the Institute for Transport
                Planning at ETH Zurich.
            </p>
        </div>
    </div>
</div>
{% endblock %}
