{% extends "base.html" %}

{% block content %}
<div class="row no-gutters">
    <div class="col-sm-12">
        <h2>The eqasim model</h2>
        <p>
            The base configuration of <i>eqasim</i> features a pipeline
            that applies common algorithms to synthesize rich and detailed agent-based
            transport simulation scenarios.
        </p>
        <p>
            <img src="/assets/eqasim_h_v1.png" style="width: 75%" alt="" />
        </p>
        <p>
            The scenarios are simulated using the
            agent- and activity-based transport simulation framework <a href="https://www.matsim.org">MATSim</a>
            in combination with <i>eqasim</i>'s novel <a href="https://github.com/matsim-eth/discrete-mode-choice">Discrete Mode Choice extension</a>.
        </p>
        <p>
            All parts in that chain are replacable and adjustable which allows
            to test novel, specific models in an integrated context.
        </p>
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}
